
**/.idea
**/venv

*.env

**/.DS_store

# python django
**/__pycache__/
**/db.sqlite3

# java spring boot
**/HELP.md
**/.gradle
**/build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
**/*.iws
**/*.iml
**/*.ipr
**/out/
!**/src/main/**/out/
!**/src/test/**/out/

# docker
db_data/
